n8n-snowflake-manager-dashboard.json
{
  "name": "Snowflake → Manager Dashboard",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ADAPT TO YOUR SCHEMA\n-- Pull active employees with department + manager info\nSELECT\n  e.employee_id,\n  e.full_name,\n  e.email,\n  e.department,\n  COALESCE(e.sub_team, '') AS sub_team,\n  e.title,\n  e.hire_date,\n  m.full_name AS manager_name,\n  m.email AS manager_email\nFROM employees e\nLEFT JOIN employees m ON e.manager_id = m.employee_id\nWHERE e.status = 'active'\nORDER BY e.department, e.full_name"
      },
      "id": "snowflake-employees",
      "name": "Snowflake - Employees",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [520, 400],
      "credentials": {
        "snowflake": {
          "id": "",
          "name": "-- Add your Snowflake credential --"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate employee data into manager dashboard shape\nconst employees = $input.all().map(i => i.json);\n\n// --- Department rollup ---\nconst deptMap = {};\nfor (const emp of employees) {\n  const dept = emp.department || 'Other';\n  if (!deptMap[dept]) {\n    deptMap[dept] = { name: dept, learners: 0, managers: new Set(), employees: [] };\n  }\n  deptMap[dept].learners++;\n  deptMap[dept].employees.push({\n    name: emp.full_name,\n    email: emp.email,\n    title: emp.title,\n    subTeam: emp.sub_team,\n    hireDate: emp.hire_date,\n  });\n  if (emp.manager_name) {\n    deptMap[dept].managers.add(emp.manager_name);\n  }\n}\n\nconst departments = Object.values(deptMap)\n  .map(d => ({\n    name: d.name,\n    learners: d.learners,\n    managers: [...d.managers],\n    employees: d.employees,\n  }))\n  .sort((a, b) => b.learners - a.learners);\n\n// --- Manager rollup ---\nconst mgrMap = {};\nfor (const emp of employees) {\n  const mgr = emp.manager_name || 'No Manager';\n  const mgrEmail = emp.manager_email || '';\n  if (!mgrMap[mgr]) {\n    mgrMap[mgr] = {\n      name: mgr,\n      email: mgrEmail,\n      department: emp.department,\n      directReports: 0,\n      reportNames: [],\n    };\n  }\n  mgrMap[mgr].directReports++;\n  mgrMap[mgr].reportNames.push(emp.full_name);\n}\n\nconst managers = Object.values(mgrMap)\n  .filter(m => m.name !== 'No Manager')\n  .sort((a, b) => b.directReports - a.directReports);\n\n// --- Overview ---\nconst overview = {\n  totalEmployees: employees.length,\n  totalDepartments: departments.length,\n  totalManagers: managers.length,\n};\n\nreturn [{\n  json: {\n    overview,\n    departments,\n    managers,\n    employeeCount: employees.length,\n    generatedAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "code-aggregate",
      "name": "Aggregate by Dept + Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learning-agent-pearl.vercel.app/api/manager-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-secret",
              "value": "={{ $env.MANAGER_DATA_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "http-push",
      "name": "Push to Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Snowflake - Employees", "type": "main", "index": 0 }]
      ]
    },
    "Daily 6am": {
      "main": [
        [{ "node": "Snowflake - Employees", "type": "main", "index": 0 }]
      ]
    },
    "Snowflake - Employees": {
      "main": [
        [{ "node": "Aggregate by Dept + Manager", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate by Dept + Manager": {
      "main": [
        [{ "node": "Push to Dashboard API", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "learning-platform" },
    { "name": "snowflake" }
  ]
}
