n8n/n8n-snowflake-manager-dashboard.json
{
  "name": "Snowflake → Manager Dashboard",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- HCP Namely org data (all active employees + their manager via self-join).\n-- Unquoted aliases return UPPERCASE column names from Snowflake; the Aggregate\n-- node reads them in UPPERCASE to match.\nSELECT\n  e.profile_id AS employee_id,\n  CONCAT(e.first_name, ' ', e.last_name) AS full_name,\n  e.email,\n  e.department,\n  SPLIT_PART(e.division, ':', 3) AS sub_team,\n  e.job_title AS title,\n  p.start_date AS hire_date,\n  CONCAT(m.first_name, ' ', m.last_name) AS manager_name,\n  m.email AS manager_email\nFROM production.namely.people_vw e\nLEFT JOIN production.namely.profiles p ON e.profile_id = p.id\nLEFT JOIN production.namely.people_vw m ON e.reports_to_id = m.profile_id\nWHERE e.user_status = 'active'\nORDER BY e.department, full_name"
      },
      "id": "snowflake-employees",
      "name": "Snowflake - Employees",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [520, 400],
      "credentials": {
        "snowflake": {
          "id": "TEyBS3f5EJmOlxun",
          "name": "SHARED ANALYTICS SNOWFLAKE PROD_N8N_SVC READ ONLY CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate employee data into manager dashboard shape.\n// Snowflake returns UPPERCASE column names for unquoted aliases.\nconst employees = $input.all().map(i => i.json);\n\n// --- Department rollup ---\nconst deptMap = {};\nfor (const emp of employees) {\n  const dept = emp.DEPARTMENT || 'Other';\n  if (!deptMap[dept]) {\n    deptMap[dept] = { name: dept, learners: 0, managers: new Set(), employees: [] };\n  }\n  deptMap[dept].learners++;\n  deptMap[dept].employees.push({\n    name: emp.FULL_NAME,\n    email: emp.EMAIL,\n    title: emp.TITLE,\n    subTeam: emp.SUB_TEAM || '',\n    hireDate: emp.HIRE_DATE || '',\n  });\n  if (emp.MANAGER_NAME) {\n    deptMap[dept].managers.add(emp.MANAGER_NAME);\n  }\n}\n\nconst departments = Object.values(deptMap)\n  .map(d => ({\n    name: d.name,\n    learners: d.learners,\n    managers: [...d.managers],\n    employees: d.employees,\n  }))\n  .sort((a, b) => b.learners - a.learners);\n\n// --- Manager rollup ---\nconst mgrMap = {};\nfor (const emp of employees) {\n  const mgr = emp.MANAGER_NAME || 'No Manager';\n  const mgrEmail = emp.MANAGER_EMAIL || '';\n  if (!mgrMap[mgr]) {\n    mgrMap[mgr] = {\n      name: mgr,\n      email: mgrEmail,\n      department: emp.DEPARTMENT,\n      directReports: 0,\n      reportNames: [],\n    };\n  }\n  mgrMap[mgr].directReports++;\n  mgrMap[mgr].reportNames.push(emp.FULL_NAME);\n}\n\nconst managers = Object.values(mgrMap)\n  .filter(m => m.name !== 'No Manager')\n  .sort((a, b) => b.directReports - a.directReports);\n\n// --- Overview ---\nconst overview = {\n  totalEmployees: employees.length,\n  totalDepartments: departments.length,\n  totalManagers: managers.length,\n};\n\nreturn [{\n  json: {\n    overview,\n    departments,\n    managers,\n    employeeCount: employees.length,\n    generatedAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "code-aggregate",
      "name": "Aggregate by Dept + Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learning-agent-pearl.vercel.app/api/manager-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "http-push",
      "name": "Push to Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Manager Data Secret (x-api-secret)"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Snowflake - Employees", "type": "main", "index": 0 }]
      ]
    },
    "Daily 6am": {
      "main": [
        [{ "node": "Snowflake - Employees", "type": "main", "index": 0 }]
      ]
    },
    "Snowflake - Employees": {
      "main": [
        [{ "node": "Aggregate by Dept + Manager", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate by Dept + Manager": {
      "main": [
        [{ "node": "Push to Dashboard API", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "learning-platform" },
    { "name": "snowflake" }
  ]
}
